.div0 {
width: 200px;
height: 100px;
z-index: -1;
opacity: 0.5;
}
body {
    background-image:url("https://pixabay.com/en/sunrise-space-outer-globe-world-earth-su-1756274/");
    background-color:#c1cc;
}

.contact {
position: fixed;
top: 0;
left: 0;
padding: 40px;
margin: 0;
text-align: center;
background:gold;
}

.about {
    position: fixed;
    top: 0;
    left: 0;
    padding: 40px;
    margin: 0;
    text-align: center;
    background: rgb(68, 90, 32);
    }

.contact {
    position: fixed;
    top: 200;
    left: 0;
    padding: 40px;
    margin: 0;
    text-align: center;
    background: rgb(3, 1, 43);
}